{%  extends 'base.html.twig' %}


    {% block body %}

    <div class="container" style="background-color: #9d9d9d; width: 40%; padding: 5%;">

        <h1>Zapraszamy!</h1>

        <form action="{{ path('app_login') }}" method="post">
            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email" style="width: 70%" name="email" value="{{ last_username }}" />

            <label for="password">Hasło:</label>
            <input type="password" class="form-control" id="password" style="width: 70%" name="_password" />
                <br/>
            <button type="submit" class="btn btn-primary">Zaloguj się</button>

        </form>
        {% if error %}
            <h4> <p style="color: red">Nieprawidłowe dane lub konto jest nieaktywne.</p></h4>
            {#<h4> <div class="container"><a  style="text-decoration: none; color: gold" href="{{ path('send_res_pas') }}">Nie pamiętasz hasła?</a> </div></h4>#}
            {#<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
        {% endif %}

    </div>
    {% endblock %}