{% block body %}


    Witamy Cie {{ name }}! Twoja rejesteracja przebiega pomyślnie.



    <a href="{{ url('app_success_register', {'activatekey': activatekey}) }}">Aktywacja</a>

    NaSpalonym.pl


{% endblock %}